/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /*========= Colors =============*/
  --main-color: #8b5843;
  --text-color: #333333;
  --second-main-color: #f6dcad;
  --explore-more-color: #774936;
  --border-color: #533528;
  --title-color: #ffffff;
  --inactive-line-color: #b9b9b9;
  --cards-p-color: #5b5b5b;
  --calend-background: #b3c4d4;
  --review-background: #ffebc7;
  --views-background: #ffd8da;
  --input-color: #333333;
  --input-background-color: #e3e3e3;
  --icon-back-color: #e7bc91;
  --shadow: #40404040;
  --calend-txt-color: #03014a;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}
/*==================== Body ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  height: 150vh;
  background-image: url("Group.png");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}

/*==================== Navbar ====================*/
.nav-logo {
  margin-left: 3rem;
  margin-top: 37px;
}
.nav-links {
  display: flex;
  margin-top: -2rem;
  align-items: center;
  list-style: none;
  padding-left: 17rem;
  padding-right: 15rem;
  padding-bottom: 9px;
}
.navitem {
  margin-left: 28px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
}
.navitem > a {
  color: #ffffff;
}
.navitem > a:hover {
  color: black;
}
.navitem > a::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 3px;
  bottom: -2px;
  left: 15px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.navitem > a:hover:before {
  visibility: visible;
  transform: scaleX(1.1);
}
.navBtns {
  display: flex;
  padding-bottom: 9px;
  margin-left: 67rem;
  margin-top: -34px;
}
.navBtns > select {
  margin-left: -44px;
  background-color: #e6e6e6;
  opacity: 40%;
  font-size: 13px;
  height: 19px;
  margin-top: 6px;
  font-weight: var(--font-bold);
  border: none;
  border-radius: 4px;
}
.navBtns > select > option {
  background-color: #e6e6e6;
  opacity: 40%;
  font-size: 13px;
  font-weight: var(--font-bold);
}
.navBtns > a {
  color: black;
  font-weight: var(--font-semi-bold);
  font-size: 18px;
  padding: 2px 21px;
}
.nav-signin,
.nav-signup {
  background-color: #ffffff;
  border-radius: 4px;
  transition: all 0.3 ease-in-out 0s;
}
.nav-signin {
  margin-left: 20px;
}
.nav-signup {
  margin-left: 12px;
}
.nav-signin:hover,
.nav-signup:hover {
  opacity: 70%;
}
/*==================== Banner ====================*/
